<div
  class="reminder-row{{ " selected-list" if reminder_list.id == selected_list.id }}"
  data-id="reminder-row-{{ reminder_list.id }}"
>
  <p
    hx-post="/reminders/select/{{ reminder_list.id }}"
    hx-target=".reminders-content"
    hx-trigger="click"
    hx-swap="outerHTML"
  >
    {{ reminder_list.name }}
  </p>
  <img
    src="/static/img/icons/icon-edit.svg"
    hx-get="/reminders/list-row-edit/{{ reminder_list.id }}"
    hx-target="[data-id='reminder-row-{{ reminder_list.id }}']"
    hx-trigger="click"
    hx-swap="outerHTML"
  />
  <img
    src="/static/img/icons/icon-delete.svg"
    hx-delete="/reminders/list-row/{{ reminder_list.id }}"
    hx-target=".reminders-content"
    hx-trigger="click"
    hx-swap="outerHTML"
  />
</div>