<div
  class="reminder-row-with-input{{ " selected-list" if reminder_list.id == selected_list.id }}"
  data-id="reminder-row-{{ reminder_list.id }}"
>
  <input
    type="text"
    value="{{ reminder_list.name }}"
    placeholder="{{ reminder_list.name }}"
    name="new_name"
    onfocus="this.select();"
    autofocus
  />
  <img
    src="/static/img/icons/icon-check-circle.svg"
    hx-patch="/reminders/list-row-name/{{ reminder_list.id }}"
    hx-include="[name='new_name']"
    hx-target=".reminders-content"
    hx-trigger="click, keyup[key=='Enter'] from:[name='new_name']"
    hx-swap="outerHTML"
  />
  <img
    src="/static/img/icons/icon-x-circle.svg"
    hx-get="/reminders/list-row/{{ reminder_list.id }}"
    hx-target="[data-id='reminder-row-{{ reminder_list.id }}']"
    hx-trigger="click, click from:.reminder-row, keyup[key=='Escape'] from:[name='new_name']"
    hx-swap="outerHTML"
  />
</div>