<div
  class="reminder-row{{ " selected-list" if reminder_list.id == selected_list }}"
  hx-target="this"
>
  <p
    hx-get="/reminders/grid?selected_list={{ reminder_list.id }}"
    hx-trigger="click"
    hx-swap="outerHTML"
    hx-target=".reminders-grid"
  >{{ reminder_list.name }}</p>
  <img
    src="/static/img/icons/icon-edit.svg"
    hx-get="/reminders/list-row-edit/{{ reminder_list.id }}"
    hx-trigger="click"
    hx-swap="outerHTML"
  />
  <img
    src="/static/img/icons/icon-delete.svg"
    hx-delete="/reminders/list-row/{{ reminder_list.id }}"
    hx-trigger="click"
    hx-swap="outerHTML"
  />
</div>