<div
  class="reminder-row-with-input"
  data-id="new-reminder-item-row"
>
  <input
    type="text"
    placeholder="New reminder"
    name="reminder_item_name"
    autofocus
  />
  <img
    src="/static/img/icons/icon-check-circle.svg"
    hx-post="/reminders/new-item-row"
    hx-include="[name='reminder_item_name']"
    hx-target=".reminders-content"
    hx-trigger="click, keyup[key=='Enter'] from:[name='reminder_item_name']"
    hx-swap="outerHTML"
  />
  <img
    src="/static/img/icons/icon-x-circle.svg"
    hx-get="/reminders/new-item-row"
    hx-target="[data-id='new-reminder-item-row']"
    hx-trigger="click, click from:.reminder-row, keyup[key=='Escape'] from:[name='reminder_item_name']"
    hx-swap="outerHTML"
  />
</div>