<html>
<head>
    <title>Not Found | Bulldoggy reminders app</title>
    <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
    <link rel="stylesheet" type="text/css" href="/static/css/not-found.css">
</head>
<body>
    <div class="not-found-page">
        <div class="not-found-content paper-card">
            <h1 id="not-found-title">Not found!</h1>
            <img id="bulldoggy-logo" src="/static/img/logos/bulldoggy-100px.png" />
            <p class="not-found-message">The page you requested does not exist.</p>
            <p class="not-found-message">Please try again.</p>
        </div>
    </div>
</body>
</html>