<html>
<head>
    <title>Reminders | Bulldoggy reminders app</title>
    <link rel="stylesheet" type="text/css" href="/static/css/shared.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reminders.css">
</head>
<body>
    <div class="title-card paper-card">
        <div class="title-card-left">
            <img id="bulldoggy-logo" src="/static/img/logos/bulldoggy-100px.png" />
            <h1 id="bulldoggy-title">Bulldoggy</h1>
        </div>
        <div class="title-card-right">
            <p id="reminders-message">Reminders for {{ owner }}</p>
            <form id="logout-form" action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="reminders-content">
        <div class="reminders-content-lists">
            <div class="reminders-card paper-card">
                <h3 class="reminders-card-title">Reminder Lists</h3>
                <div class="reminders-list-list">
                    <div class="reminder-row selected-list">
                        <p>Chores</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row">
                        <p>Groceries</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row">
                        <p>Projects</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row-with-input">
                        <input type="text" placeholder="New list"></input>
                        <img src="/static/img/icons/icon-check-circle.svg" />
                        <img src="/static/img/icons/icon-x-circle.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="reminders-content-items">
            <div class="reminders-card paper-card">
                <h3 class="reminders-card-title">Chores</h3>
                <div class="reminders-item-list">
                    <div class="reminder-row">
                        <p>Mow the lawn</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row completed">
                        <p>Walk the dog</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row completed">
                        <p>Do the laundry</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row">
                        <p>Vacuum the carpet</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row">
                        <p>Wash the dishes</p>
                        <img src="/static/img/icons/icon-edit.svg" />
                        <img src="/static/img/icons/icon-delete.svg" />
                    </div>
                    <div class="reminder-row-with-input">
                        <input type="text" value="Get the mail"></input>
                        <img src="/static/img/icons/icon-check-circle.svg" />
                        <img src="/static/img/icons/icon-x-circle.svg" />
                    </div>
                    <div class="reminder-row light-gray-text">
                        <p>New reminder</p>
                        <img src="/static/img/icons/icon-add.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>