.login-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}

.login-form-top {
  margin-bottom: 15%;
}

.login-form-top-title {
  font-size: 2.5em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.login-form-top-subtitle {
  font-style: italic;
}

#bulldoggy-logo {
  margin: 3% 0px;
}

.form {
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form label {
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
  display: inline-block;
}

.form input {
  font-family: PlayfairDisplay;
  outline: 0;
  background: #F3F3F3;
  width: 100%;
  border: 0;
  margin-bottom: 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 0.9em;
}

.form button {
  font-family: PlayfairDisplay;
  text-transform: uppercase;
  outline: 0;
  background: #222222;
  width: 100%;
  border: 0;
  padding: 12px;
  margin-top: 5px;
  color: #ffffff;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #BC4211;
}

.invalid-login-warning p {
  color: red;
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.message a {
  color: #4CAF50;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}
