.not-found-page {
  width: 400px;
  padding: 5% 0 0;
  margin: auto;
}

.not-found-content {
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

#not-found-title {
  font-size: 2.5em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

#bulldoggy-logo {
  margin: 25px 0px;
}

.not-found-message {
  font-style: italic;  
}
