body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PlayfairDisplay;
}

.reminders-grid {
  display: grid;
  grid-template-columns: 33% 67% auto;
  grid-template-rows: 80px calc(100vh - 80px) auto;
  gap: 0px;
}

.reminders-grid-title-left {
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  color: black;
  border-bottom: 1px solid #222222;
}

.reminders-grid-title-right {
  grid-column: 2;
  grid-row: 1;
  background-color: white;
  color: black;
  border-bottom: 1px solid #222222;
}

.title-container-left {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

#bulldoggy-icon {
  height: 60px;
}

#bulldoggy-title {
  margin: 0 0 0 10px;
}

.title-container-right {
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  height: 100%;
}

#reminders-message {
  flex-grow: 1;
  font-style: italic;
  font-size: 1.2em;
  margin-top: 12px;
  margin-bottom: 0px;
}

#logout-form {
  margin: 0;
}

.reminders-grid-lists {
  grid-column: 1;
  grid-row: 2;
  background-color: #D0905D;
  border-right: 1px solid #222222;
  padding: 20px;
}

.reminders-list-card {
  z-index: 1;
  background: #FFFFFF;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reminders-grid-items {
  grid-column: 2;
  grid-row: 2;
  background-color: #D0905D;
  padding: 20px;
}

button {
  font-family: PlayfairDisplay;
  text-transform: uppercase;
  outline: 0;
  background: #222222;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 4px;
}

button:hover,button:active,button:focus {
  background: #BC4211;
}
