body {
  margin: 0;
  padding: 0;
  font-family: PlayfairDisplay;
}

.title-bar {
  background-color: white;
  color: black;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.title-bar h1 {
  margin: 0px 30px 0px 20px;
  /* text-align: center; */
}

.title-bar p {
  flex-grow: 1;
  font-style: italic;
  margin-bottom: 0px;
}

.title-bar form {
  margin: 0;
}

.sidebar {
  background-color: #D0905D;
  border: 1px solid #222222;
  width: 25%;
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.inner-sidebar {
  padding: 20px;
}

.content {
  background-color: #D0905D;
  border: 1px solid #222222;
  border: 1px solid #222222;
  position: absolute;
  top: 80px;
  left: 25%;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.inner-content {
  padding: 20px;
}

button {
  font-family: PlayfairDisplay;
  text-transform: uppercase;
  outline: 0;
  background: #222222;
  border: 0;
  padding: 12px;
  color: #ffffff;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
}

button:hover,button:active,button:focus {
  background: #BC4211;
}
